$c-black: #000000;
$c-white: #ffffff;

$p-m: 8px;
$p-s: $p-m - 2;
$p-xs: $p-m - 4;
$p-l: $p-m + 2;
$p-xl: $p-m + 4;

$screen-max-width: 520px;
$screen-min-height: 400px;

$fs-m: 14px;
$fs-s: $fs-m - 2;
$fs-xs: $fs-m - 4;
$fs-l: $fs-m + 2;
$fs-xl: $fs-m + 4;

$fw-m: 400;
$fw-s: $fw-m - 100;
$fw-xs: $fw-m - 200;
$fw-l: $fw-m + 100;
$fw-xl: $fw-m + 200;
