@import './_settings';

body {
    background-color: $c-white;
    color: $c-black;
    margin: 0;
    font-family: 'Arial';
    font-size: $fs-m;
    font-weight: $fw-m;
}

.app {
    max-width: $screen-max-width;
    min-height: $screen-min-height;
    padding: $p-m;
    margin: 0 auto;
}
